@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif; 
}
.container {
    max-width: 1200px;
    margin: auto;
}
.spinner {
    height: 32px;
    margin: 1rem 0;
}